<div class="container bg-danger">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
      <h2>INDEX</h2>
    
    </div>
  </div>
</div>
<div class="container-fluid bg-info">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12">
      <h2>ABOUT LEAN MANUFACTURING</h2>
      <br>
      <h4>Bonfiglioli Consulting to host lean management study tour of Japan</h4>
      <br>
      <p>Italian management consultancy Bonfiglioli Consulting is set to embark on a lean study tour of Japan, with participants having the opportunity to visit a number of companies at the epicenter of the Kaizen philosophy.</p>
      <p>Leading Italian lean management specialist Bonfiglioli Consulting will next month host a customised, one-week lean study tour of Japan, including a visit to renowned Kaizen exponents Nissan Motors among the highlights of the itinerary. For Bonfiglioli’s part, the consultancy has more than 20 years of cross-sector experience in lean implementations for various organisations and industries, including having served the likes of famed Italian names such as Lamborghini, Gucci, and Ducati.</p>
      <p>Established in 1973, the Bologna-based firm – which is part of the Cordence Worldwide management consulting network alongside Asian members S.Point, Key To Way, Avalon Consulting and GENEX Partners of Japan – today has ten offices across the globe, including Asian outlets in Hanoi and Ho Chi Minh City alongside three locations in India: Bangalore, New Delhi and Pune. Last year, Bonfiglioli added a branch in San Diego, to serve as its North American headquarters.</p>
      <p>Proponents of the Kaizen philosophy of lean management – which first emerged in the automotive industry of Japan and stresses top-to-bottom continual improvements through a customer-minded elimination of waste – Bonfiglioli has expanded on the approach through its Lean World Class methodology, which combines lean thinking with the latest in world class manufacturing concepts and the pillars of cost deployment and people development.</p>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12">
      
      
       <img src="assets/img/lean1.jpg">

       <img src="assets/img/lean2.jpg">
    </div>

      </div>

  </div>
